<form class="align-items-center mx-5" action="/blogs" method="POST">

    <label class="m-2" for="title">Blog title</label>
    <div class="form-group form-group-lg mb-2">
    <input class="form-control input-lg" type="text" id="title" name="title" required >
    </div>
    <label for="snippet">Blog snippet</label>
    <div class="form-group mb-2">
      <input class="form-control col-lg" type="text" id="snippet" name="snippet" required >
    </div>
    
    <label for="body">Blog body</label>
    <div class="form-group">
      <textarea class="form-control input-lg" id="body" name="body" required > </textarea>
    </div>
    <button class="btn btn-success mt-3">Submit</button>
    <a class="btn btn-secondary mt-3" href="/">Cancel</a>
  </form>

  