<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 

    <h1>oops page 404 not found</h1>
    <h2>Back to Home <a href="/">blog</a></h2>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>