<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header.ejs') %>
</head>
<body>
    
    <%- include('./partials/nav.ejs') %> 
    
    <div class="row gx-5 align-items-center mx-5 mt-3">
        <div class="col-lg-7 col-xl-8">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <a class="text-dark" href="#!"><h5 class="mt-0">Develeoped By AhmadZana </h5></a>
                    <p>technologies used</p>
                    <p>express.js <br> mongoose <br> bootstrap <br></p>
                    <a class="text-arrow-icon small" href="#!">
                        Read more
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
                </div>
</body>
</html>